# Path
TERMUX_HOME=
BIN_DIR=
LOG_DIR=
ERROR_LOG=

# Data
DATA_DIR=
MEMOS_DATA=
BESZEL_DATA=

SSL_CERT=

# AdGuard
ADGUARD_BIN=

# Beszel
BESZEL_PORT=
BESZEL_AGENT_KEY=

# Gatus
GATUS_CONFIG=

# Memos
MEMOS_PORT=

# Glance
GLANCE_PORT=
GLANCE_CONFIG=

# QINGPING
QINGPING_DIR=
QINGPING_PORT=