# Telegram Alerting
export TELEGRAM_BOT_TOKEN=
export TELEGRAM_CHAT_ID=

export SSL_HOST_1=
export SSL_URL_1=
export SSL_HOST_2=
export SSL_URL_2=

export EXTERNAL_TOKEN_1=
export EXTERNAL_TOKEN_2=
export QINGPING_GATUS_TOKEN=