# Telegram Alerting
TELEGRAM_CHAT_ID="-1001234567890"
TELEGRAM_BOT_TOKEN=

GATUS_CONFIG_PATH="/data/data/com.termux/files/home/phone-server/configs/gatus.yml"

SSL_HOST_1=
SSL_URL_1=
SSL_HOST_2=
SSL_URL_2=

MEMOS_TOKEN=
SYSTEM_TOKEN=
QINGPING_TOKEN=