export YT_CHANNEL_1=
export YT_CHANNEL_2=

export LOCATION_1=
export LOCATION_2=

export TWITCH_CHANNEL_1=
export TWITCH_CHANNEL_2=
export TWITCH_CHANNEL_3=

export GATUS_URL=
export ADGUARD_URL=
export BESZEL_URL=
export MEMOS_URL=