# Snippet for common configurations
(common) {
    encode zstd gzip
}

http://adguard.pixel {
    import common
    reverse_proxy 127.0.0.1:{$ADGUARD_PORT}
}

http://gatus.pixel {
    import common
    reverse_proxy 127.0.0.1:{$GATUS_PORT}
}

http://dashboard.pixel {
    import common
    reverse_proxy 127.0.0.1:{$GLANCE_PORT}
}

http://memos.pixel {
    import common
    reverse_proxy 127.0.0.1:{$MEMOS_PORT}
}

http://beszel.pixel {
    import common
    reverse_proxy 127.0.0.1:{$BESZEL_PORT}
}

http://files.pixel {
    import common
    reverse_proxy 127.0.0.1:{$FILEBROWSER_PORT}
}

http://webdav.pixel {
    import common
    reverse_proxy 127.0.0.1:{$WEBDAV_PORT}
}

http://qbit.pixel {
    import common
    reverse_proxy 127.0.0.1:{$QBITTORRENT_PORT}
}

http://audiobooks.pixel {
    import common
    reverse_proxy 127.0.0.1:{$AUDIOBOOKSHELF_PORT}
}

http://sensors.pixel, https://sensors.pixel {
    import common
    tls internal
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "GET, OPTIONS"
    
    redir / /air_data.json
    
    handle /favicon.ico {
        header Content-Type "image/svg+xml"
        respond `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text x="50%" y="50%" dominant-baseline="central" text-anchor="middle" font-size="80">🍃</text></svg>`
    }

    root * {$DATA_DIR}/qingping/public
    file_server
}
