# Snippet for common configurations
(common) {
    encode zstd gzip
}

http://adguard.pixel {
    import common
    reverse_proxy 127.0.0.1:{$ADGUARD_PORT}
}

http://gatus.pixel {
    import common
    reverse_proxy 127.0.0.1:{$GATUS_PORT}
}

http://dashboard.pixel {
    import common
    reverse_proxy 127.0.0.1:{$GLANCE_PORT}
}

http://memos.pixel {
    import common
    reverse_proxy 127.0.0.1:{$MEMOS_PORT}
}

http://beszel.pixel {
    import common
    reverse_proxy 127.0.0.1:{$BESZEL_PORT}
}

http://sensors.pixel {
    import common
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "GET, OPTIONS"
    
    redir / /air_data.json
    
    root * {$DATA_DIR}/qingping/public
    file_server
}
